<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Infractores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>       
    
    <h:body>
        
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{infractorBean.listar()}"/>
        </f:metadata>
        
        
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <h:form id="infractorForm">
            <p:dataTable id="data" value="#{infractorBean.infractores}" var="infractor">
                <f:facet name="header">
                    Infractores
                </f:facet>                 
                <p:column headerText="RFC" filterBy="#{infractor.rfc}" >
                    <p:outputLabel value="#{infractor.rfc}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <p:outputLabel value="#{infractor.nombre} "/>
                    <p:outputLabel value="#{infractor.apellidoPaterno} "/>
                    <p:outputLabel value="#{infractor.apellidoMaterno} "/>
                </p:column>
                <p:column headerText="Edad">
                    <p:outputLabel value="#{infractor.edad}"/>
                </p:column>                
                <p:column headerText="Género">
                    <p:outputLabel value="#{infractor.genero}"/>
                </p:column>
                <p:column headerText="Consultar Historial">
                    <p:commandButton actionListener="#{infractorBean.infractorPage(infractor.id)}" value="Ver Historial"/>
                </p:column>                
                <p:column headerText="Modificar">
                    <p:commandButton actionListener="#{infractorBean.getOneByID(infractor.id)}" value="Modificar Datos" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Registrar Infractor" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        
        <p:dialog header="Nuevo infractor" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
            <p:messages autoUpdate="true"/>
            <p:panelGrid>
                <p:row>
                    <p:column><p:outputLabel for="RFC" value="RFC"/></p:column>
                    <p:column><p:inputMask mask="aaaa999999aaaaaa99" id="RFC" value="#{infractorBean.infractor.rfc}" required="true"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                    <p:column><p:inputText id="Nombre" value="#{infractorBean.infractor.nombre}" required="true"/></p:column>
                </p:row>
                
                <p:row>
                    <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                    <p:column><p:inputText id="ApellidoP" value="#{infractorBean.infractor.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                </p:row>  
                
                <p:row>
                    <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                    <p:column><p:inputText id="ApellidoM" value="#{infractorBean.infractor.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                </p:row>                  
                

                <p:row>
                    <p:column><p:outputLabel for="FechaNacimiento" value="Fecha de nacimiento:" /></p:column>
                    <p:column><p:calendar id="FechaNacimiento" navigator="true" value="#{infractorBean.infractor.fechaNacimiento}" required="true" label="Fecha de Nacimiento"/></p:column>
                </p:row>                
                
                <p:row>
                    <p:column><p:outputLabel value="Sexo"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.genero}">
                        <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                        <f:selectItem itemLabel="Femenino" itemValue="Femenino"/>
                    	</p:selectOneMenu></p:column>
                </p:row>
                
                <p:row>
                    <p:column><p:outputLabel value="Nivel de educación"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.nivelEducacion}">
                        <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                        <f:selectItem itemLabel="Primaria" itemValue="Primaria"/>
                        <f:selectItem itemLabel="Secundaria" itemValue="Secundaria"/>
                        <f:selectItem itemLabel="Preparatoria" itemValue="Preparatoria"/>
                        <f:selectItem itemLabel="Superior" itemValue="Superior"/>
                    	</p:selectOneMenu></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel value="Religión"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.religion}">
                        <f:selectItem itemLabel="Católico" itemValue="Católico"/>
                        <f:selectItem itemLabel="Judio" itemValue="Judio"/>
                        <f:selectItem itemLabel="Islam" itemValue="Islam"/>
                        <f:selectItem itemLabel="Otras religiones" itemValue="Otras religiones"/>
                        <f:selectItem itemLabel="Protestante o Evangélico" itemValue="Protestante o Evangélico"/>
                        <f:selectItem itemLabel="Ninguna" itemValue="Ninguna"/>
                    	</p:selectOneMenu></p:column>
                </p:row>                
            

                <p:row>
                    <p:column><p:outputLabel value="Etnia"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.etnia}">
                            <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                        <f:selectItem itemLabel="Indígena" itemValue="Indígena"/>
                        <f:selectItem itemLabel="Eurodescendiente" itemValue="Eurodescendiente"/>
                        <f:selectItem itemLabel="Afromexicano" itemValue="Afromexicano"/>
                        <f:selectItem itemLabel="Asiático" itemValue="Asiático"/>
                    	</p:selectOneMenu></p:column>
                </p:row>                
                



            </p:panelGrid>
            <p:commandButton value="Registrar" actionListener="#{infractorBean.registrar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos').hide();" update=":infractorForm:data"/>
            </h:form>
        </p:dialog>  
        
        
        
        
        <p:dialog header="Modificar datos" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
            <p:messages autoUpdate="true"/>
            <p:panelGrid>
                <p:row>
                    <p:column><p:outputLabel value="RFC: #{infractorBean.infractor.rfc}"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                    <p:column><p:inputText id="Nombre" value="#{infractorBean.infractor.nombre}" required="true"/></p:column>
                </p:row>
                
                <p:row>
                    <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                    <p:column><p:inputText id="ApellidoP" value="#{infractorBean.infractor.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                </p:row>  
                
                <p:row>
                    <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                    <p:column><p:inputText id="ApellidoM" value="#{infractorBean.infractor.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                </p:row>                  
                

                <p:row>
                    <p:column><p:outputLabel for="FechaNacimiento" value="Fecha de nacimiento:" /></p:column>
                    <p:column><p:calendar id="FechaNacimiento" navigator="true" value="#{infractorBean.infractor.fechaNacimiento}" required="true" label="Fecha de Nacimiento"/></p:column>
                </p:row>                
                
                <p:row>
                    <p:column><p:outputLabel value="Sexo"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.genero}">
                        <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                        <f:selectItem itemLabel="Femenino" itemValue="Femenino"/>
                    	</p:selectOneMenu></p:column>
                </p:row>
                
                <p:row>
                    <p:column><p:outputLabel value="Nivel de educación"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.nivelEducacion}">
                        <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                        <f:selectItem itemLabel="Primaria" itemValue="Primaria"/>
                        <f:selectItem itemLabel="Secundaria" itemValue="Secundaria"/>
                        <f:selectItem itemLabel="Preparatoria" itemValue="Preparatoria"/>
                        <f:selectItem itemLabel="Superior" itemValue="Superior"/>
                    	</p:selectOneMenu></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel value="Religión"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.religion}">
                        <f:selectItem itemLabel="Católico" itemValue="Católico"/>
                        <f:selectItem itemLabel="Judio" itemValue="Judio"/>
                        <f:selectItem itemLabel="Islam" itemValue="Islam"/>
                        <f:selectItem itemLabel="Otras religiones" itemValue="Otras religiones"/>
                        <f:selectItem itemLabel="Protestante o Evangélico" itemValue="Protestante o Evangélico"/>
                        <f:selectItem itemLabel="Ninguna" itemValue="Ninguna"/>
                    	</p:selectOneMenu></p:column>
                </p:row>                
            

                <p:row>
                    <p:column><p:outputLabel value="Etnia"/></p:column>
                    <p:column><p:selectOneMenu value="#{infractorBean.infractor.etnia}">
                            <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                        <f:selectItem itemLabel="Indígena" itemValue="Indígena"/>
                        <f:selectItem itemLabel="Eurodescendiente" itemValue="Eurodescendiente"/>
                        <f:selectItem itemLabel="Afromexicano" itemValue="Afromexicano"/>
                        <f:selectItem itemLabel="Asiático" itemValue="Asiático"/>
                    	</p:selectOneMenu></p:column>
                </p:row>                
                



            </p:panelGrid>
            <p:commandButton value="Modificar" actionListener="#{infractorBean.update()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":infractorForm:data"/>
            </h:form>
        </p:dialog>          
        
    </h:body>
</html>
