<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Infractor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>       
    
    <h:body>
        
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{infractorBean.findOne()}"/>
            <f:event type="preRenderView" listener="#{reporteBean.listarInfractor(infractorBean.infractor.id)}"/>
        </f:metadata>
        
        
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <p:fieldset legend="#{infractorBean.infractor}">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha de nacimiento: #{infractorBean.infractor.fechaNacimiento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </p:outputLabel>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Edad: #{infractorBean.infractor.edad}">
                                
                            </p:outputLabel>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sexo: #{infractorBean.infractor.genero}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nivel de educación: #{infractorBean.infractor.nivelEducacion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Religión: #{infractorBean.infractor.religion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Etnia: #{infractorBean.infractor.etnia}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
        </p:fieldset>
        
        <p:fieldset legend="Infracciones/Delitos">
            <h:form>
                <p:dataTable value="#{reporteBean.reportes}" var="reporte">
                    <p:column headerText="Folio" filterBy="#{reporte.folio}">
                        <p:outputLabel value="#{reporte.folio}"/>
                    </p:column>
                    <p:column headerText="Título" filterBy="#{reporte.titulo}" filterMatchMode="contains">
                        <p:outputLabel value="#{reporte.titulo}"/>
                    </p:column>
                    <p:column headerText="Hecho" filterBy="#{reporte.hecho}" filterMatchMode="contains">
                        <p:outputLabel value="#{reporte.hecho}"/>
                    </p:column>
                    <p:column headerText="Título" filterBy="#{reporte.titulo}" filterMatchMode="contains">
                        <p:outputLabel value="#{reporte.titulo}"/>
                    </p:column>
                    <p:column headerText="Delitos que se le acusa" filterBy="#{reporte.direccion.calle}" filterMatchMode="contains">
                        <p:outputLabel value="#{reporte.direccion.calle}"/>
                    </p:column>
                    <p:column headerText="Estado donde se cometió" filterBy="#{reporte.direccion.estado}" filterMatchMode="contains">
                        <p:outputLabel value="#{reporte.direccion.estado}"/>
                    </p:column>
                    <p:column headerText="Consultar reporte">
                        <p:commandButton value="Ir al reporte" actionListener="#{reporteBean.redirectReportePage(reporte.id)}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:fieldset>

        
    </h:body>
</html>
