<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Camaras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>  
    <h:body>
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{camaraBean.listar()}"/>
        </f:metadata>
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <h:form id="form">
            <p:dataTable  id="data" value="#{camaraBean.camaras}" var="camara">
                <f:facet name="header">
                    Cámaras
                </f:facet>                
                <p:column headerText="Número de cámara" filterBy="#{camara.identificador}">
                    <p:outputLabel value="#{camara.identificador}"/>
                </p:column>
                <p:column headerText="Ubicación: Código Postal" filterBy="#{camara.direccion.codigoPostal}">
                    <p:outputLabel value="#{camara.direccion.codigoPostal}"/>
                </p:column> 
                <p:column headerText="Ubicación: Estado" filterBy="#{camara.direccion.estado}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.direccion.estado}"/>
                </p:column> 
                <p:column headerText="Ubicación: Municipio" filterBy="#{camara.direccion.municipio}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.direccion.municipio}"/>
                </p:column> 
                <p:column headerText="Ubicación: Colonia" filterBy="#{camara.direccion.colonia}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.direccion.colonia}"/>
                </p:column> 
                <p:column headerText="Ubicación: Calle" filterBy="#{camara.direccion.calle}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.direccion.calle}"/>
                </p:column>                 
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{camaraBean.findOne(camara.id)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{camaraBean.delete(camara.id)}" update="data"/>
                </p:column>                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        <p:dialog header="Nueva cámara" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    
                    <p:row>
                        <p:column><p:outputLabel for="Identificador" value="Número de cámara"/>
                        <p:inputMask mask="99999" id="Identificador" value="#{camaraBean.camara.identificador}" required="true"/></p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Direccion (sólo código postal) "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{camaraBean.camara.direccion.codigoPostal}" required="true">
                                <p:ajax update="some" listener="#{camaraBean.validarDireccion()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="some" value="#{camaraBean.camara.direccion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Calle" value="Calle donde se ubica la cámara: "/>
                            <p:inputText id="Calle" value="#{camaraBean.camara.direccion.calle}" required="true"/>
                        </p:column>                        
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{camaraBean.registrar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
        
        


        <p:dialog header="Actualizar datos de cámara" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel for="Identificador" value="Número de cámara"/>
                            <p:inputMask mask="99999" id="Identificador" value="#{camaraBean.camara.identificador}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Direccion (sólo código postal) "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{camaraBean.camara.direccion.codigoPostal}" required="true">
                                <p:ajax update="some" listener="#{camaraBean.validarDireccion()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="some" value="#{camaraBean.camara.direccion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Calle" value="Calle donde se ubica la cámara: "/>
                            <p:inputText id="Calle" value="#{camaraBean.camara.direccion.calle}" required="true"/>
                        </p:column>                        
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Actualizar datos" actionListener="#{camaraBean.update()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
        
                  
        
    </h:body>
</html>
