<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Patrullas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>  
    <h:body>
        
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{patrullaBean.listar()}"/>
            <f:event type="preRenderView" listener="#{sectorBean.listar()}"/>
        </f:metadata>
        
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <h:form id="form">
            <p:dataTable id="data" value="#{patrullaBean.patrullas}" var="patrulla">
                <f:facet name="header">
                    Patrullas/Vehículos de la SSP
                </f:facet>                 
                <p:column headerText="Placas" filterBy="#{patrulla.placas}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.placas}"/>
                </p:column>
                <p:column headerText="Sector" filterBy="#{patrulla.sector.identificador}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.sector.identificador} - #{patrulla.sector.nombre}"/>
                </p:column>                
                <p:column headerText="Marca" filterBy="#{patrulla.marca}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.marca}"/>
                </p:column>
                <p:column headerText="Modelo" filterBy="#{patrulla.modelo}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.modelo}"/>
                </p:column>                
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{patrullaBean.getOneByID(patrulla.id)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{patrullaBean.delete(patrulla.id)}" update="data"/>
                </p:column>                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        <p:dialog header="Nueva patrulla" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    
                    <p:row>
                        <p:column><p:outputLabel for="Placas" value="Placas"/></p:column>
                        <p:column><p:inputMask mask="a99-99" id="Placas" value="#{patrullaBean.patrulla.placas}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" filter="true" filterMatchMode="contains" value="#{patrullaBean.patrulla.sectorID}" required="true">
                                <f:selectItems value="#{sectorBean.sectores}" var="h" itemLabel="#{h.identificador} - #{h.nombre}" itemValue="#{h.id}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Marca" value="Marca"/></p:column>
                        <p:column><p:inputText id="Marca" value="#{patrullaBean.patrulla.marca}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Modelo" value="Modelo"/></p:column>
                        <p:column><p:inputMask mask="9999" id="Modelo" value="#{patrullaBean.patrulla.modelo}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{patrullaBean.registrar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Modificar patrulla" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    
                    <p:row>
                        <p:column><p:outputLabel for="Placas" value="Placas"/></p:column>
                        <p:column><p:inputMask mask="a99-99" id="Placas" value="#{patrullaBean.patrulla.placas}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" filter="true" filterMatchMode="contains" value="#{patrullaBean.patrulla.sectorID}" required="true">
                                <f:selectItems value="#{sectorBean.sectores}" var="h" itemLabel="#{h.identificador} - #{h.nombre}" itemValue="#{h.id}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Marca" value="Marca"/></p:column>
                        <p:column><p:inputText id="Marca" value="#{patrullaBean.patrulla.marca}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Modelo" value="Modelo"/></p:column>
                        <p:column><p:inputMask mask="9999" id="Modelo" value="#{patrullaBean.patrulla.modelo}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>
                </p:panelGrid>                
                <p:commandButton value="Actualizar datos" actionListener="#{patrullaBean.update()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>            
        
    </h:body>
</html>
