<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Elementos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
             font-size: 12px;
        }        
    </style>  
    <h:body>
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{elementoBean.listar()}"/>
            <f:event type="preRenderView" listener="#{sectorBean.listar()}"/>
        </f:metadata>
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar>  
        </h:form>        
        
        <h:form id="form">
            <p:dataTable  id="data" value="#{elementoBean.elementos}" var="elemento">
                <f:facet name="header">
                    Elementos de la SSP
                </f:facet>                
                <p:column headerText="Número de placa" filterBy="#{elemento.placa}">
                    <p:outputLabel value="#{elemento.placa}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <p:outputLabel value="#{elemento.nombre} #{elemento.apellidoPaterno} #{elemento.apellidoMaterno}"/>
                </p:column>
                <p:column headerText="Sector" filterBy="#{elemento.sector.identificador}" filterMatchMode="contains">
                    <p:outputLabel value="#{elemento.sector.identificador} - #{elemento.sector.nombre}"/>
                </p:column>                
                <p:column headerText="Nivel de acceso">
                    <p:outputLabel value="#{elemento.nivelAcceso}">
                        <f:converter converterId="accesoConverter"/>
                    </p:outputLabel>
                </p:column>             
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{elementoBean.getOneByID(elemento.id)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{elementoBean.delete(elemento.id)}" update="data"/>
                </p:column>                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        <p:dialog header="Nuevo elemento" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    
                    <p:row>
                        <p:column><p:outputLabel for="Placa" value="Número de placa"/></p:column>
                        <p:column><p:inputMask mask="999999" id="Placa" value="#{elementoBean.elemento.placa}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" filter="true" filterMatchMode="contains" value="#{elementoBean.elemento.sectorID}" required="true">
                                <f:selectItems value="#{sectorBean.sectores}" var="h" itemLabel="#{h.identificador} - #{h.nombre}" itemValue="#{h.id}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{elementoBean.elemento.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{elementoBean.elemento.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{elementoBean.elemento.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column><p:outputLabel value="Nivel de acceso"/></p:column>
                        <p:column><p:selectOneMenu value="#{elementoBean.elemento.nivelAcceso}">
                            <f:selectItem itemLabel="Policia" itemValue="0"/>
                            <f:selectItem itemLabel="Personal del Ministerio Público" itemValue="1"/>
                            <f:selectItem itemLabel="Juez" itemValue="2"/>
                            <f:selectItem itemLabel="Administrador" itemValue="3"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                    

                    <p:row>
                        <p:column><p:outputLabel for="Password" value="Password:"/></p:column>
                        <p:column><p:password id="Password" value="#{elementoBean.elemento.password}" feedback="true" required="true"/></p:column>
                    </p:row>                    
                    
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{elementoBean.registar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
        
        
        
        
        <p:dialog header="Actualizar elemento" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    
                    <p:row>
                        <p:column><p:outputLabel for="Placa" value="Número de placa"/></p:column>
                        <p:column><p:inputMask mask="999999" id="Placa" value="#{elementoBean.elemento.placa}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" filter="true" filterMatchMode="contains" value="#{elementoBean.elemento.sectorID}" required="true">
                                <f:selectItems value="#{sectorBean.sectores}" var="h" itemLabel="#{h.identificador} - #{h.nombre}" itemValue="#{h.id}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{elementoBean.elemento.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{elementoBean.elemento.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{elementoBean.elemento.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column><p:outputLabel value="Nivel de acceso"/></p:column>
                        <p:column><p:selectOneMenu value="#{elementoBean.elemento.nivelAcceso}">
                            <f:selectItem itemLabel="Policia" itemValue="0"/>
                            <f:selectItem itemLabel="Personal del Ministerio Público" itemValue="1"/>
                            <f:selectItem itemLabel="Juez" itemValue="2"/>
                            <f:selectItem itemLabel="Administrador" itemValue="3"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                                     
                    
                </p:panelGrid>
                <p:commandButton value="Actualizar datos" actionListener="#{elementoBean.update()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>        
        
                  
        
    </h:body>
</html>
