<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Sectores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
    </style>  
    <h:body>
        <f:metadata>
            <f:event type="preRenderView" listener="#{sectorBean.listar()}"/>
        </f:metadata>
        
         <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar>  
        </h:form>       
        
        <h:form id="form">
            <p:dataTable id="data" value="#{sectorBean.sectores}" var="sector">
                <f:facet name="header">
                    Sectores de la SSP
                </f:facet>                 
                <p:column headerText="Sector" filterBy="#{sector.identificador}" filterMatchMode="contains">
                    <p:outputLabel value="#{sector.identificador}"/>
                </p:column>
                <p:column headerText="Nombre" filterBy="#{sector.nombre}" filterMatchMode="contains">
                    <p:outputLabel value="#{sector.nombre}"/>
                </p:column>
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{sectorBean.getOneByID(sector.id)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{sectorBean.delete(sector.id)}" update="data"/>
                </p:column>                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        <p:dialog header="Nuevo sector" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
            <p:messages autoUpdate="true"/>
            <p:panelGrid>
                <p:row>
                    <p:column><p:outputLabel for="Identificador" value="Identificador"/></p:column>
                    <p:column><p:inputMask mask="999" id="Identificador" value="#{sectorBean.sector.identificador}" required="true" maxlength="3"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel for="Nombre" value="Nombre del sector"/></p:column>
                    <p:column><p:inputText id="Nombre" value="#{sectorBean.sector.nombre}" required="true" label="Nombre del sector"/></p:column>
                </p:row>

            </p:panelGrid>
            <p:commandButton value="Registrar" actionListener="#{sectorBean.registrar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Modificar sector" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
            <p:messages autoUpdate="true"/>
            <p:panelGrid>
                <p:row>
                    <p:column><p:outputLabel for="Identificador" value="Identificador"/></p:column>
                    <p:column><p:inputMask mask="999" id="Identificador" value="#{sectorBean.sector.identificador}" required="true" maxlength="3"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:outputLabel for="Nombre" value="Nombre del sector"/></p:column>
                    <p:column><p:inputText id="Nombre" value="#{sectorBean.sector.nombre}" required="true" label="Nombre del sector"/></p:column>
                </p:row>

            </p:panelGrid>
            <p:commandButton value="Actualizar datos" actionListener="#{sectorBean.update()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>            
        
    </h:body>
</html>
