<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    
  
    <h:head>
        <title>Reportes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>  
    <h:body>
        
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{sectorBean.listar()}"/>
            <f:event type="preRenderView" listener="#{camaraBean.listar()}"/>
        </f:metadata>
        
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <h:form id="form">
            <p:wizard>
                <p:tab title="Reporte">
                    <p:panel header="Datos generales del reporte">
                            <p:messages />
                            <p:panelGrid>
                                <p:row>
                                    <p:column><strong>
                                            <p:outputLabel value="Folio: #{reporteBean.reporte.folio}"/>
                                        </strong></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="Título" value="Título: "/>
                                        <p:inputText id="Título" value="#{reporteBean.reporte.titulo}" required="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="Hecho" value="Hecho: "/>
                                        
                                        <p:inputText id="Hecho" value="#{reporteBean.reporte.hecho}" required="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="Direccion" value="Dirección (Ingresar solo Código Postal): "/>
                                        <p:inputMask mask="99999" id="Direccion" value="#{reporteBean.reporte.direccion.codigoPostal}" required="true">
                                            <p:ajax update="direction" listener="#{reporteBean.validarDireccion()}" event="keyup"/>
                                        </p:inputMask>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel id="direction" value="#{reporteBean.reporte.direccion}"/>
                                    </p:column>
                                </p:row>
                                
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="CalleI" value="Calle donde ocurrió el incidente: "/>
                                        <p:inputText id="CalleI" value="#{reporteBean.reporte.direccion.calle}" required="true" label="Calle"/>
                                    </p:column>
                                </p:row>
                                
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Sector que atiende: "/>
                                        <p:selectOneMenu id="Sector" filter="true" filterMatchMode="contains" value="#{reporteBean.reporte.sectorID}" required="true">
                                            <f:selectItem itemValue="#{null}" itemLabel="" />
                                            <f:selectItems value="#{sectorBean.sectores}" var="h" itemLabel="#{h.identificador} - #{h.nombre}" itemValue="#{h.id}"/> 
                                            <p:ajax listener="#{reporteBean.setSector()}"/>
                                        </p:selectOneMenu>
                                    </p:column>                            
                                </p:row>
                                
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Cámara más cercana al incidente: "/>
                                        <p:selectOneMenu id="Cámara" filter="true" filterMatchMode="contains" value="#{reporteBean.reporte.camara.id}" required="true">
                                            <f:selectItem itemValue="#{null}" itemLabel="" />
                                            <f:selectItems value="#{camaraBean.camaras}" var="h" itemLabel="#{h.identificador}" itemValue="#{h.id}"/> 
                                            <p:ajax listener="#{reporteBean.getCamera()}" update="cameraDir"/> 
                                        </p:selectOneMenu>
                                    </p:column>                            
                                </p:row>
                                
                                <p:row>
                                    <p:column>
                                        <p:outputLabel id="cameraDir" value="Dirección de la cámara: #{reporteBean.reporte.camara.direccion}, Calle: #{reporteBean.reporte.camara.direccion.calle}"/>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="FechaHora" value="Fecha y hora: "/>
                                        <p:calendar id="FechaHora" value="#{reporteBean.reporte.fechaHora}" pattern="MM/dd/yyyy HH:mm:ss" required="true" mindate="#{reporteBean.currentMinDate()}" maxdate="#{reporteBean.currentMaxDate()}" label="Fecha y hora"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid> 
                    </p:panel>
                </p:tab>
                <p:tab title="Denunciante">
                    <p:panel header="Datos del denunciante">                        
                        <p:messages />
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="RFC" value="RFC"/>
                                    <p:inputMask mask="aaaa999999aaaaaa99" value="#{reporteBean.reporte.denunciante.rfc}" id="RFC" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Nombre" value="Nombre(s)"/>
                                    <p:inputText id="Nombre" value="#{reporteBean.reporte.denunciante.nombre}" required="true"/>
                                </p:column>                                                             
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoP" value="Apellido Paterno"/>
                                    <p:inputText id="ApellidoP" value="#{reporteBean.reporte.denunciante.apellidoPaterno}" required="true" label="Apellido Paterno"/>
                                </p:column>                                                              
                            </p:row> 

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoM" value="Apellido Materno"/>
                                    <p:inputText id="ApellidoM" value="#{reporteBean.reporte.denunciante.apellidoMaterno}" required="true" label="Apellido Materno"/>
                                </p:column>                                                                
                            </p:row> 
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Direccion2" value="Dirección (Ingresar solo Código Postal): "/>
                                    <p:inputMask mask="99999" id="Direccion2" value="#{reporteBean.reporte.denunciante.direccion.codigoPostal}" required="true" label="Direccion del denunciante">
                                        <p:ajax update="direction2" listener="#{reporteBean.validarDireccion2()}" event="keyup"/>
                                    </p:inputMask>
                                </p:column>
                            </p:row> 
                            <p:row>
                                <p:column>
                                    <p:outputLabel id="direction2" value="#{reporteBean.reporte.denunciante.direccion}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Calle" value="Calle: "/>
                                    <p:inputText id="Calle" value="#{reporteBean.reporte.denunciante.direccion.calle}" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroExterior" value="Número Exterior: "/>
                                    <p:inputMask mask="999" id="NumeroExterior" value="#{reporteBean.reporte.denunciante.direccion.numeroExterior}" required="true" label="Número Exterior"/>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroInterior" value="Número Interior: "/>
                                    <p:inputMask mask="999" id="NumeroInterior" value="#{reporteBean.reporte.denunciante.direccion.numeroInterior}"/>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:panel header="Firma">
                                        <p:signature style="width:300px;height:200px"  backgroundColor="#DCDCDC" widgetVar="sig" guideline="true" guidelineOffset="20" required="true" value="#{reporteBean.reporte.denunciante.firma}" id="Firma"/>
                                            <div style="margin:20px">
                                                <p:commandButton value="Clear" icon="ui-icon-close" type="button" onclick="PF('sig').clear()"/>
                                            </div>   
                                    </p:panel>
                                </p:column>
                            </p:row>
                            
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Resumen del reporte">
                    <p:panel header="Corroborar datos del reporte">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <strong><p:outputLabel value="Folio: #{reporteBean.reporte.folio}"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Título: #{reporteBean.reporte.titulo}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Hecho: #{reporteBean.reporte.hecho}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Dirección del incidente: #{reporteBean.reporte.direccion.calle}, #{reporteBean.reporte.direccion.colonia}, #{reporteBean.reporte.direccion.codigoPostal}, #{reporteBean.reporte.direccion.municipio} #{reporteBean.reporte.direccion.estado}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Sector que atiende el repote: #{reporteBean.reporte.sector}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Cámara más cercana al incidente: #{reporteBean.reporte.camara}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Fecha y hora del incidente: "/>
                                    <h:outputText value="#{reporteBean.reporte.fechaHora}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Resumen de datos del denunciante">
                    <p:panel header="Corroborar datos del denunciante: ">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <stron>
                                        <p:outputLabel value="RFC: #{reporteBean.reporte.denunciante.rfc}"/>
                                    </stron>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre completo: #{reporteBean.reporte.denunciante}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Dirección: #{reporteBean.reporte.denunciante.goodDirection()}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputPanel>
                                        <h:outputText rendered="#{not empty reporteBean.reporte.denunciante.firma}" style="font-size:24px;display:block" value="Firma" />
                                        <p:signature style="width:300px;height:200px;" value="#{reporteBean.reporte.denunciante.firma}" readonly="true"
                                                     rendered="#{not empty reporteBean.reporte.denunciante.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Registrar" actionListener="#{reporteBean.registrar()}">
                            <f:param name="reporteID" value="#{reporteBean.reporteID}"/>
                        </p:commandButton>
                    </p:panel>
                </p:tab>
            </p:wizard>
            
        </h:form>
        
        
           
        
    </h:body>
</html>
