<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >
    <h:head>
        <title>Reportes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{reporteBean.listar()}"/>
        </f:metadata>
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar>  
        </h:form>      
        
        <h:form id="form">
            <p:dataTable id="data" value="#{reporteBean.reportes}" var="reporte">
                <f:facet name="header">
                    Reportes
                </f:facet>
                <p:column headerText="Folio" filterBy="#{reporte.folio}" >
                    <p:outputLabel value="#{reporte.folio}"/>
                </p:column>
                <p:column headerText="Fecha del incidente" filterBy="#{reporte.timeSearch}">
                    <p:outputLabel value="#{reporte.timestamp}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Sector que atendio" filterBy="#{reporte.sector.identificador}">
                    <p:outputLabel value="#{reporte.sector}"/>
                </p:column>
                <p:column headerText="Título">
                    <p:outputLabel value="#{reporte.titulo}"/>
                </p:column>
                <p:column headerText="Hecho">
                    <p:outputLabel value="#{reporte.hecho}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Ver detalles" actionListener="#{reporteBean.redirectReportePage(reporte.id)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>
