<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
    </style>    
    
    <h:head>
        <title>Reporte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:event type="preRenderView" listener="#{login.grantAcces()}"/>
            <f:event type="preRenderView" listener="#{reporteBean.findOneAfterRegistration()}"/>
        </f:metadata>
        
        <h:form>
            <p:menubar>
                <p:submenu label="Reportes" icon="fa fa-newspaper-o">
                    <p:menuitem value="Crear nuevo reporte" actionListener="#{routingBean.reportesView()}"/>
                    <p:menuitem value="Ver reportes" actionListener="#{routingBean.reportesCreate()}" />
                </p:submenu>
                <p:submenu label="Elementos" icon="fa fa-users">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="fa fa-institution">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="fa fa-cab">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.camaras()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="fa fa-street-view">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar" actionListener="#{login.logout()}"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>
        
        <h:form>
            <p:growl id="growl2"/>
        </h:form>
        
        <p:fieldset legend="Reporte: #{reporteBean.consulta.folio}">
            <p:panelGrid>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel value="Folio: #{reporteBean.consulta.folio}"/></strong>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column><p:outputLabel value="Título: #{reporteBean.consulta.titulo}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column><p:outputLabel value="Hecho: #{reporteBean.consulta.hecho}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dirección del incidente: #{reporteBean.consulta.direccion.calle}, #{reporteBean.consulta.direccion.colonia}, #{reporteBean.consulta.direccion.codigoPostal}, #{reporteBean.consulta.direccion.municipio} #{reporteBean.consulta.direccion.estado}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector que atiende el repote: #{reporteBean.consulta.sector}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Cámara más cercana al incidente: #{reporteBean.consulta.camara}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha y hora del incidente: "/>
                            <h:outputText value="#{reporteBean.consulta.timestamp}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                            </h:outputText>
                        </p:column>
                    </p:row>
                </p:panelGrid>                
            </p:panelGrid>
        </p:fieldset>
        
        <p:accordionPanel id="accordion">

            <p:tab id="ElementosReporte" title="Elementos policiales involucrados">
                <p:tabView id="policias" value="#{reporteBean.consulta.elementosReporte}" var="elementoReporte">
                    <p:tab title="Elemento ##{elementoReporte.elemento.placa}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre del elemento: #{elementoReporte.elemento.soloNombre()}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Sector al que pertenece: #{elementoReporte.elemento.sector}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Patrulla que tenía asignada: #{elementoReporte.patrulla}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel rendered="#{elementoReporte.contesto eq 'false'}" value="Parte informativo: "/>
                                    <strong><p:outputLabel rendered="#{elementoReporte.contesto eq 'false'}" value=" El elemento aún no llena su parte informativo"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel rendered="#{elementoReporte.contesto}" value="Parte informativo: #{elementoReporte.parteInformativo}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:commandButton value="Añadir parte informativo" rendered="#{reporteBean.canMakeReport(elementoReporte, login.e.id, login.e.nivelAcceso)}" actionListener="#{elementosReporteBean.findOne(elementoReporte.id)}" oncomplete="PF('widgetInformativo').show();" update=":dialogInformativo"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{login.e.nivelAcceso gt 0}" value="Agregar elemento" oncomplete="PF('widgetElementos').show();" update=":dialogElementos"/>
                </h:form>
            </p:tab>
            
            <p:tab id="Infractores" title="Detenidos / Presuntos responsables">
                <p:tabView id="InfractoresTab" value="#{reporteBean.consulta.infractores}" var="infractor">
                    <p:tab title="#{infractor.infractor}">
                        <p:panelGrid>
                            <p:row>
                                <p:column><p:outputLabel value="Fecha de nacimiento: #{infractor.infractor.fechaNacimiento}"/>
                                <p:outputLabel value=" - Edad: #{infractor.infractor.edad}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Género: #{infractor.infractor.genero}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Nivel de educación: #{infractor.infractor.nivelEducacion}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Religión: #{infractor.infractor.religion}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Etnia: #{infractor.infractor.etnia}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Delitos por los que se detuvo: #{infractor.delitosString()}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:form enctype="multipart/form-data">
                                        <p:fileUpload rendered="#{!infractor.hasImage}" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  sizeLimit="100000"  label="Subir imagen" cancelLabel="Cancelar" mode="simple" value="#{uploadObjectImageBean.file}"/>
                                        <p:commandButton rendered="#{!infractor.hasImage}" value="Subir foto" actionListener="#{uploadObjectImageBean.uploadInfractor(infractor.id)}" ajax="false" update="growl2"/>
                                    </h:form>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:form>
                                        <p:commandButton rendered="#{infractor.hasImage}" value="Ver imagen" actionListener="#{infractoresReporteBean.verImagen(infractor.id)}" ajax="false"/>
                                    </h:form>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton value="Agregar detenido" oncomplete="PF('widgetInfractor').show();" update=":dialogInfractor"/>      
                </h:form>
            </p:tab>
            
            
            <p:tab id="objetos" title="Objetos recogidos como evidencia">
                <h:form>
                    <p:growl id="growl"/>
                </h:form>
                    <p:dataTable id="objetosData" paginator="true" rows="5" value="#{reporteBean.consulta.objetos}" var="objeto">
                        <f:facet name="header">
                            Lista de objetos
                        </f:facet> 
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{objeto.nombre}"/>
                        </p:column>
                        <p:column headerText="Descripción">
                            <p:outputLabel value="#{objeto.descripcion}"/>
                        </p:column>
                        <p:column headerText="Imagen">
                            <h:form>
                                <p:commandButton rendered="#{objeto.hasImage}" value="Ver imagen" actionListener="#{objetosBean.verImagen(objeto.id)}" ajax="false"/>
                            </h:form>
                            <h:form enctype="multipart/form-data">
                                <p:fileUpload rendered="#{!objeto.hasImage}" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  sizeLimit="100000"  label="Subir imagen" cancelLabel="Cancelar" mode="simple" value="#{uploadObjectImageBean.file}"/>
                                <p:commandButton rendered="#{!objeto.hasImage}" value="Subir foto" actionListener="#{uploadObjectImageBean.upload(objeto.id)}" ajax="false" update="growl"/>
                            </h:form>
                        </p:column>
                    </p:dataTable> 
                <h:form>
                    <p:commandButton value="Agregar objeto" oncomplete="PF('widgetObjeto').show();" update=":dialogObjeto"/>      
                </h:form>
            </p:tab>
            
            <p:tab id="Fotos" title="Soporte documental: Fotos">
                <h:form>
                <p:dataTable id="FotosTable" paginator="true" rows="5" value="#{reporteBean.consulta.fotos}" var="foto">
                    <p:column headerText="Nombre">
                        <p:outputLabel value="#{foto.nombre}"/>
                    </p:column>
                    <p:column headerText="Descripción">
                        <p:outputLabel value="#{foto.descripcion}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Ver foto" actionListener="#{videoFotoBean.verImagen(foto.id)}" ajax="false"/>
                    </p:column>
                </p:dataTable>
                    <p:commandButton value="Agregar nueva foto" oncomplete="PF('widgetFoto').show();" update=":dialogFoto"/>
                </h:form>
            </p:tab>
            
            <p:tab id="Videos" title="Soporte documental: Videos">
                <h:form>
                <p:dataTable id="VideosTable" paginator="true" rows="5" value="#{reporteBean.consulta.videos}" var="video">
                    <p:column headerText="Nombre">
                        <p:outputLabel value="#{video.nombre}"/>
                    </p:column>
                    <p:column headerText="Descripción">
                        <p:outputLabel value="#{video.descripcion}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Ver video" actionListener="#{videoFotoBean.verVideo(video.id)}" ajax="false"/>
                    </p:column>
                </p:dataTable>               
                    <p:commandButton value="Agregar nuevo video" oncomplete="PF('widgetVideo').show();" update=":dialogVideo"/>
                </h:form>
            </p:tab>
            
            <p:tab id="Testigos" title="Testigos">                
                <p:tabView id="TestigosTab" value="#{reporteBean.consulta.testigos}" var="testigo">
                    <p:tab title="#{testigo.rfc}: #{testigo}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Direccion: #{testigo.goodDirection()}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputPanel>
                                        <h:outputText rendered="#{not empty testigo.firma}" style="font-size:24px;display:block" value="Firma" />
                                        <p:signature style="width:300px;height:200px;" value="#{testigo.firma}" readonly="true"
                                                     rendered="#{not empty testigo.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Testimonio: #{testigo.testimonio}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton value="Agregar testigo"  oncomplete="PF('widgetTestigo').show();" update=":dialogTestigo"/>      
                </h:form>
            </p:tab>

            
            <p:tab title="Datos del denunciante">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <stron>
                                <p:outputLabel value="RFC: #{reporteBean.consulta.denunciante.rfc}"/>
                            </stron>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre completo: #{reporteBean.consulta.denunciante}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dirección: #{reporteBean.consulta.denunciante.goodDirection()}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputPanel>
                                <h:outputText rendered="#{not empty reporteBean.consulta.denunciante.firma}" style="font-size:24px;display:block" value="Firma" />
                                <p:signature style="width:300px;height:200px;" value="#{reporteBean.consulta.denunciante.firma}" readonly="true"
                                             rendered="#{not empty reporteBean.consulta.denunciante.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>                
            </p:tab>            

            
        </p:accordionPanel>
        
        <p:dialog header="Agregar elemento policial" widgetVar="widgetElementos" id="dialogElementos" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Placa" value="Placa del elemento: "/>
                            <p:inputMask id="Placa" mask="999999" value="#{elementosReporteBean.elementoReporte.elemento.placa}" required="true">
                                <p:ajax update="elemento" listener="#{elementosReporteBean.elementoInfo()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="elemento" value="#{elementosReporteBean.elementoReporte.elemento}"/>
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="placasP" value="Placas de la patrulla en la que se movilizó: "/>
                            <p:inputMask id="placasP" mask="a99-99" value="#{elementosReporteBean.elementoReporte.patrulla.placas}" required="true" label="Placas de la patrulla">
                                <p:ajax update="patrulla" listener="#{elementosReporteBean.patrullaInfo()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="patrulla" value="#{elementosReporteBean.elementoReporte.patrulla}"/>
                        </p:column>
                    </p:row>                    
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{elementosReporteBean.registrar(reporteBean.consulta.id)}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetElementos').hide();" update=":accordion:policias"/>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Parte informativo" widgetVar="widgetInformativo" id="dialogInformativo" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Placa: #{elementosReporteBean.elementoReporte.elemento.placa}"/>
                        </p:column>
                    </p:row>                     
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Policia: #{elementosReporteBean.elementoReporte.elemento.soloNombre()}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel for="info" value="Redacta tu reporte informativo"/></strong>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:inputTextarea id="info" cols="50" value="#{elementosReporteBean.elementoReporte.parteInformativo}" required="true" label="Reporte informativo"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton value="Registrar reporte" actionListener="#{elementosReporteBean.registrarParteInformativo()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetInformativo').hide();" update=":accordion:policias"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        

        <p:dialog header="Nuevo objeto/evidencia" widgetVar="widgetObjeto" id="dialogObjeto" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Nombre" value="Nombre del objeto: "/>
                            <p:inputText id="Nombre" value="#{objetosBean.objeto.nombre}" required="true"/>
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Descripcion" value="Descripción del objeto:"/>
                            <p:inputText id="Descripcion" value="#{objetosBean.objeto.descripcion}" required="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton value="Registrar objeto" actionListener="#{objetosBean.registrar(reporteBean.consulta.id)}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetObjeto').hide();" update=":accordion:objetosData"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        
        
        <p:dialog header="Agregar detenido" widgetVar="widgetInfractor" id="dialogInfractor" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="RFC" value="Ingresa el RFC del detenido: "/>
                            <p:inputMask id="RFC" mask="aaaa999999aaaaaa99" value="#{infractoresReporteBean.infractorReporte.infractor.rfc}" required="true">
                                <p:ajax update="infractorN" listener="#{infractoresReporteBean.findOneByRfc()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel id="infractorN" value="Detenido: #{infractoresReporteBean.infractorReporte.infractor}"/></strong>
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Ingresa el CP del detenido: "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{infractoresReporteBean.infractorReporte.direccion.codigoPostal}" required="true">
                                <p:ajax update="direccionN" listener="#{infractoresReporteBean.findDirection()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="direccionN" value="Dirección del detenido: #{infractoresReporteBean.infractorReporte.direccion}"/>
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <p:selectCheckboxMenu id="menu" value="#{infractoresReporteBean.selectedDelitos}" label="Delitos"
                                                  filter="true" filterMatchMode="startsWith" panelStyle="width:500px" required="true">
                                <f:selectItems value="#{infractoresReporteBean.delitos}" />
                            </p:selectCheckboxMenu>                            
                        </p:column>
                    </p:row>
                    
                </p:panelGrid>
                <p:commandButton value="Registrar detenido" actionListener="#{infractoresReporteBean.registrar(reporteBean.consulta.id)}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetInfractor').hide();" update="accordion:InfractoresTab"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Testigo" widgetVar="widgetTestigo" id="dialogTestigo" modal="true">
            <h:form>
            <p:wizard>
                <p:tab title="Datos generales del testigo">
                    <p:panel header="Nombre del testigo">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="RFC2" value="RFC"/>
                                    <p:inputMask id="RFC2" mask="aaaa999999aaaaaa99" value="#{testigosBean.testigo.rfc}" required="true" label="RFC"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Nombre2" value="Nombre"/>
                                    <p:inputText value="#{testigosBean.testigo.nombre}" id="Nombre2" required="true" label="Nombre"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoP2" value="Apellido Paterno"/>
                                        <p:inputText value="#{testigosBean.testigo.apellidoPaterno}" id="ApellidoP2" required="true" label="Apellido Paterno"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoM2" value="Apellido Materno"/>
                                    <p:inputText value="#{testigosBean.testigo.apellidoMaterno}" id="ApellidoM2" required="true" label="Apellido Paterno"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Dirección del testigo">
                    <p:panel header="Dirección">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="CP3" value="Codigo Postal"/>
                                    <p:inputMask id="CP3" mask="99999" value="#{testigosBean.testigo.direccion.codigoPostal}" required="true" label="Código Postal">
                                        <p:ajax update="direccionTest" listener="#{testigosBean.findDireccion()}" event="keyup"/>
                                    </p:inputMask>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel id="direccionTest" value="#{testigosBean.testigo.direccion}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Calle3" value="Calle"/>
                                    <p:inputText id="Calle3" value="#{testigosBean.testigo.direccion.calle}" required="true" label="Calle"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroE3" value="Número Exterior"/>
                                    <p:inputText id="NumeroE3" value="#{testigosBean.testigo.direccion.numeroExterior}" required="true" label="Número Exterior"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroI3" value="Número Interior"/>
                                    <p:inputText id="NumeroI3" value="#{testigosBean.testigo.direccion.numeroInterior}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Declaración">
                    <p:panel header="Redacta tu declaración">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <strong><p:outputLabel for="testi" value="Declaración de: #{testigosBean.testigo}"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:row>
                                        <p:column>
                                            <p:inputTextarea id="testi" cols="50" value="#{testigosBean.testigo.testimonio}" required="true" label="Testimonio"/>
                                        </p:column>
                                    </p:row>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Firma">
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:panel header="Firma">
                                    <p:signature style="width:300px;height:200px"  backgroundColor="#DCDCDC" widgetVar="sig" guideline="true" guidelineOffset="20" required="true" value="#{testigosBean.testigo.firma}" id="Firma"/>
                                    <div style="margin:20px">
                                        <p:commandButton value="Clear" icon="ui-icon-close" type="button" onclick="PF('sig').clear()"/>
                                    </div>   
                                </p:panel>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:tab>
                <p:tab title="Resumen">
                    <p:panel header="Datos del Testigo">
                        <p:panelGrid>
                            <p:row>
                                <p:column><p:outputLabel value="RFC: #{testigosBean.testigo.rfc}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Nombre: #{testigosBean.testigo}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Dirección: #{testigosBean.testigo.goodDirection()}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputPanel>
                                        <h:outputText rendered="#{not empty testigosBean.testigo.firma}" style="font-size:24px;display:block" value="Firma" />
                                        <p:signature style="width:300px;height:200px;" value="#{testigosBean.testigo.firma}" readonly="true"
                                                     rendered="#{not empty testigosBean.testigo.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Testimonio">
                    <p:panelGrid>
                        <p:row>
                            <p:outputLabel value="Testimonio: #{testigosBean.testigo.testimonio}"/>
                        </p:row>
                    </p:panelGrid>
                    <p:commandButton value="Registrar testigo" actionListener="#{testigosBean.registrar(reporteBean.consulta.id)}" oncomplete="PF('widgetTestigo').hide();" update=":accordion:TestigosTab"/>
                </p:tab>
            </p:wizard>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Nueva foto" widgetVar="widgetFoto" id="dialogFoto" modal="true">
            <h:form enctype="multipart/form-data">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="N" value="Nombre"/>
                            <p:inputText id="N" value="#{uploadObjectImageBean.foto.nombre}" required="true" label="Nombre"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="D" value="Descripción"/>
                            <p:inputText id="D" value="#{uploadObjectImageBean.foto.descripcion}" required="true" label="Descripción"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:fileUpload  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  sizeLimit="100000"  label="Subir imagen" cancelLabel="Cancelar" mode="simple" value="#{uploadObjectImageBean.file}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar foto" actionListener="#{uploadObjectImageBean.uploadCaseFoto(reporteBean.consulta.id)}" ajax="false" update="growl" oncomplete="PF('widgetFoto').hide();"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Nuevo Video" widgetVar="widgetVideo" id="dialogVideo" modal="true">
            <h:form enctype="multipart/form-data">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="N1" value="Nombre"/>
                            <p:inputText id="N1" value="#{uploadObjectImageBean.video.nombre}" required="true" label="Nombre"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="D2" value="Descripción"/>
                            <p:inputText id="D2" value="#{uploadObjectImageBean.video.descripcion}" required="true" label="Descripción"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:fileUpload sizeLimit="100000"  label="Subir video" cancelLabel="Cancelar" mode="simple" value="#{uploadObjectImageBean.file}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar video" actionListener="#{uploadObjectImageBean.uploadCaseVideo(reporteBean.consulta.id)}" ajax="false" update="growl" oncomplete="PF('widgetVideo').hide();"/>
            </h:form>
        </p:dialog>


        
        
    </h:body>
    
</html>
