<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Login</title>
    </h:head>
        <h:body>
    
    
    <h:form>
        
        
        <h:panelGrid columns="1" cellpadding="5">
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
            <h:outputLabel for="Placa" value="Placa:" />
            <p:inputMask mask="999999" id="Placa" value="#{login.placa}" required="true" label="Placa" />
 
            <h:outputLabel for="Password" value="Password:" />
            <p:password id="Password" value="#{login.psw}" required="true" label="Password" />
 
            <f:facet name="footer">
                <p:commandButton value="Login" actionListener="#{login.login()}" update="@form"/>
            </f:facet>
            
        </h:panelGrid>           
    </h:form>    
        
        

       
    </h:body>
   
 
</html>

