<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Camaras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style>  
    <h:body>
        <f:metadata>   
            <f:event type="preRenderView" listener="#{objetosBean.listar()}"/>
        </f:metadata>
        <h:form>
            <p:menubar>
                <p:submenu label="Elementos" icon="ui-icon-person">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.elementos()}"/>
                </p:submenu>  
                <p:submenu label="Sectores" icon="ui-icon-home">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.sectores()}"/>
                </p:submenu>                   
                <p:submenu label="Patrullas" icon="ui-icon-cart">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>  
                <p:submenu label="Camaras" icon="fa fa-video-camera">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.patrullas()}"/>
                </p:submenu>                  
                <p:submenu label="Criminales" icon="ui-icon-contact">
                    <p:menuitem value="Consultar" actionListener="#{routingBean.infractores()}"/>
                </p:submenu>                              
                <p:submenu label="Cerrar sesión" icon="ui-icon-power">
                    <p:menuitem value="Cerrar"  ajax="false"/>
                </p:submenu>
            </p:menubar> 
        </h:form>        
        
        <h:form id="form">
            <p:dataTable  id="data" value="#{objetosBean.objetos}" var="objeto">
                <f:facet name="header">
                    Objetos
                </f:facet>                
                <p:column headerText="Desc" filterBy="#{objeto.descripcion}">
                    <p:outputLabel value="#{objeto.descripcion}"/>
                </p:column>
            </p:dataTable>
        </h:form>
        
        
                  
        
    </h:body>
</html>
